.tags
.tags_sorted_by_file
*.py[c|o|~]
*.log
unittest.xml
venv/
vendor/
.idea/
main
vendor/

# add by pdectl
.doubanpde/*
!.doubanpde/pde.yaml
!.doubanpde/pdectl-*
.doubanpde/pdectl-*/*
!.doubanpde/pdectl-*/Dockerfile.tpl
