.table-buckets > tbody > tr:nth-of-type(6n+1) {
    background: #ccc;
}

.table-buckets > tbody > tr:nth-of-type(6n+2) {
    background: #ccc;
}

.table-buckets > tbody > tr:nth-of-type(6n+3) {
    background: #ccc;
}
