<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gobeansproxy</title>
  <link href="/templates/css/bootstrap.min.css" rel="stylesheet">
  <link href="/templates/css/starter-template.css" rel="stylesheet">
  <link href="/templates/css/bootstrap-sortable.css" rel="stylesheet">
  <link href="/templates/css/custom.css" rel="stylesheet">
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Gobeansproxy</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      </ul>
    </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <table class="table table-bordered sortable">
      <h4>Score Stats</h4>
      <thead>
        <tr>
          <th>Bucket</th>
          <th>Host</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {{ range $bucket, $hosts := .stats }}
          {{ range $hostAddr, $score := $hosts }}
          <tr>
            <td>{{ $bucket }}</td>
            <td>{{ $hostAddr }} </td>
            <td>{{ $score }} </td>
          </tr>
          {{ end }}
        {{ end }}
      </tbody>
      </table>
    </div>
  </div>
  </body>
  <script src="/templates/js/jquery.min.js"></script>
  <script src="/templates/js/nav.js"></script>
  <script src="/templates/js/bootstrap-sortable.js"></script>
  <script src="/templates/js/moment.min.js"></script>
</html>