{{ define "body" }}
<h4>Interval Stats</h4>
<li><a href="/config">config</a></li>
<li><a href="/request">request</a></li>
<li><a href="/buffer">buffer</a></li>
<li><a href="/memstat">memstat</a></li>
<li><a href="/rusage">rusage</a></li>
<li><a href="/score">score</a></li>
<li><a href="/score/json">score (in json)</a></li>
<li><a href="/route">route</a></li>
<li><a href="/route/version">route version</a></li>
<li><a href="/buckets">buckets</a></li>
<h4> Debug PProf </h4>
<li><a href="/debug/pprof">pprof</a></li>
{{ end }}
